*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    display: flex;
    background-image:url(/static/images/image.png);
    background-color: rgba(0, 0, 0, 0.638);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

