*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
nav{
    width: 100%;
    font-family: Courier;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background:linear-gradient(#0b0c10,#1f2833);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.861);
    opacity: 70%;
    color: #c5c6c7;
    position: fixed;
    #logo{
        max-height: 8svh;
        min-height: 6svh;
        max-width: 200px;
        min-width: 170px;
        text-align: center;
    }
    #options{
        height: 7svh;
        width: 500px;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        div{
            height: 50%;
        }
        div:hover{
            color: #66fcf1;
        }
    }
    #auth{
        max-height: 8svh;
        min-height: 5svh;
        width: 225px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button{
            height: 80%;
            width: 45%;
            font-family: Courier;
            border: none;
            border-radius: 5px;
            font-weight: 900;
            font-size: 1rem;
            background-color: #1f2833;
            color: #c5c6c7;
        }
        button:hover{
            background-color: #66fcf1;
            color: #0b0c10;
        }
    }
}

main{
    height: 100svh;
    background-image: url(/static/images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
        font-weight:bolder;
        background: -webkit-linear-gradient(#c5c6c7,#45829e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20svw;
        font-family:'Segoe UI';
        letter-spacing: -0.6rem;
    }
    p{
        color: #c5c6c7;
        font-weight: 100;
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
        font-family: Courier;
        width: 80%;
        text-align: center;
    }
    button{
        margin-top: 30px;
        height: 60px;
        width: 200px;
        border: 3px solid #66fcf1;
        background-color: #1f283300;
        color: #c5c6c7;
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
    button:hover{
        background-color: #66fcf1;
        color: #0b0c10;
    }
}



@media only screen and (max-width:730px) {
    #logo{
        display: none !important;
    }
    #options{
        flex-direction: column;
    }
    #auth{
        flex-wrap: wrap;
        button{
            width: 100px !important;
            height: 30px !important;

        }
    }
    h1{
        font-size: 30svw !important;
        width: 100svh;
        text-align: center;
    }
}