<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Passy | Home</title>
</head>
<body>
    <nav>
        <img src="" alt="" id="logo">
        <div id="options">
            <div onclick="location.href='Login'" style="cursor: pointer;">Home</div>
            <div onclick="location.href=''" style="cursor: pointer;">Password Generator</div>
            <div onclick="location.href=''" style="cursor: pointer;">About</div>
        </div>
        <div id="auth">
            <button type="button" style="cursor: pointer;" onclick="location.href='Signup'">Sign Up</button>
            <button type="button" style="cursor: pointer;"
            onclick="location.href='Login'">Log in</button>
        </div>
    </nav>
    <main>
        <h1>HELLO</h1>
        <p>Welcome to your own password Manager. Where you can store your passwords and keep them in the most safe place.</p>
        <button style="cursor: pointer;" onclick="location.href='Login'">GET STARTED</button>
    </main>
</body>
</html>